.visible {
    display: block;
  }
   
  .hidden {
    display: none;
  }

.button-register{
  text-align: center;
  transform: scale(3);


}

.button-login{
  text-align: center;
  transform: scale(3);
  padding-top: 3px;
}

.home{
  text-align: center;
  padding-top: 200px;
  font-size: 50px;
}

.login{
  text-align: center;
  padding-top: 200px;
  font-size: 50px;
}

.entra{
  text-align: center;
  transform: scale(2);
  padding-top: 3px;
}

.Pagina-Principale{
  text-align: center;
  transform: scale(2);
  padding-top: 25px;
}

.cerca{
  text-align: center;
  padding: 120px;
  transform: scale(3);
}

.visualizza{
  text-align: center;
  transform: scale(3);
}