.visible {
    display: block;
  }
   
  .hidden {
    display: none;
  }

.button-register{
  text-align: center;
  transform: scale(3);


}

.button-login{
  text-align: center;
  transform: scale(3);
  padding-top: 3px;
}

.home{
  text-align: center;
  padding-top: 200px;
  font-size: 50px;
}

.login{
  text-align: center;
  padding-top: 200px;
  font-size: 50px;
}

.entra{
  text-align: center;
  transform: scale(3);
  padding-top: 3px;
}